h1
{
    text-align:center;
    background-color:FFFF00;
    border-radius:10px;
}

img
{
    display:block;
    height:400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#resumelink
{
    display:inline-block;
    background-color:3300FF;
    border-radius:10px;
}

#biolink
{
    display:inline-block;
    background-color:3300FF;
    border-radius:10px;
}


