html
{
    font-family:Verdana;
}
h1
{
    color:#FFFFFF;
    text-align:center;
    background-color:#3300FF;
    border-radius:10px;
    
}

img
{
    display:block;
    height:auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#resumelink
{
    display:inline-block;
    padding:30px;
    font-size:30px;
    color:#FFFFFF;
    display:inline-block;
    background-color:#3300FF;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}

#biolink
{
    display:inline-block;
    margin-left:auto;
    margin-right:auto; 
    padding:30px;
    font-size:30px;
    color:#FFFFFF;
    display:inline-block;
    background-color:#3300FF;
    border-radius:10px;
}

#newDiv
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:30px;
}
